<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="FixItFast"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomToolbar"
        tools:targetApi="31">
        <activity
            android:name=".ServicesListActivity"
            android:exported="false" />
        <activity
            android:name=".PostServicesActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateEmailActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UploadProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>